<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>


	<footer th:fragment="footer">
	
	<div class="row">
				
		<div class="container-fluid">
		
              <nav class="pull-left">
                    <ul>
                         <li>
                              <a href="#">
                                    Home
                              </a>
                        </li>
                        
                         <li>
                             <a href="#">
                                 Company
                             </a>
                         </li>
                         
                         
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            
                            
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                          </li>
                            
                     </ul>
               </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                    
                    
                </div>
                
                </div>

			</footer>
			
			
			<div th:fragment="script">
		
		
		<script src="/static/js/jquery-3.2.1.min.js"
			th:src="@{/js/jquery-3.2.1.min.js}"></script>
			
		<script src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"  th:inline="javascript"></script>

		<script src="/static/js/chartist.min.js"
			th:src="@{/js/chartist.min.js}" th:inline="javascript" ></script>

		<script src="/static/js/arrive.min.js"
			th:src="@{/js/arrive.min.js}" th:inline="javascript"></script>
			
								
			<script src="/static/js/perfect-scrollbar.jquery.min.js"
			th:src="@{/js/perfect-scrollbar.jquery.min.js}" th:inline="javascript" ></script>

		<script src="/static/js/bootstrap-notify.js"
			th:src="@{/js/bootstrap-notify.js}"></script>
		
			<script src="/static/js/material-dashboard.js"
			th:src="@{/js/material-dashboard.js}" th:inline="javascript" ></script>
		
			
		<script src="/static/js/demo.js"
			th:src="@{/static/js/demo.js}" th:inline="javascript" ></script>

			
			
		<script src="/static/js/material.min.js"
			th:src="@{/js/material.min.js}" th:inline="javascript" ></script>
	
	
	   <script src="https://www.gstatic.com/charts/loader.js"
			th:src="@{https://www.gstatic.com/charts/loader.js}" th:inline="javascript"></script>
	
			
			
	<script type ="text/javascript">
	
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
    
	</script>    
	
<script type="text/javascript" th:inline="javascript">  
/*<![CDATA[*/
	
		   $(document).ready(function () {
			   
			   
			   $('#menu li a').click(function () {
				   

		        	$('#menu').find('li.active').removeClass('active');
		        	$(this).parents("li").addClass('active');
			
		        	
		        });
			   

			   $(function () {
				    $( '.table primary table-hover table-primary data-table' ).searchable({
				        striped: true,
				        oddRow: { 'background-color': '#f5f5f5' },
				        evenRow: { 'background-color': '#fff' },
				        searchType: 'fuzzy'
				    });
				    
				    $( '#searchable-container' ).searchable({
				        searchField: '#container-search',
				        selector: '.row',
				        childSelector: '.col-xs-4',
				        show: function( elem ) {
				            elem.slideDown(100);
				        },
				        hide: function( elem ) {
				            elem.slideUp( 100 );
				        }
				    })
				});
			   
	
			        

			    });
			    
			
		   /*]]>*/	
	

	     
</script>
    
    
					
					
<!-- 					FIM    -->
					
					
<!-- 					<script src="/static/js/smartresize.js" -->
<!-- 			th:src="@{/static/js/smartresize.js}"></script> -->
			
			
<!-- 								<script src="/static/js/jquery.reverseorder.js" -->
<!-- 			th:src="@{/static/js/jquery.reverseorder.js}"></script> -->
			
			
<!-- 								<script src="/static/js/jquery.equalizer.js" -->
<!-- 			th:src="@{/static/js/jquery.equalizer.js}"></script> -->




	</div>
			
			

</body>



</html>

